body{
    background-color: #638a79 ;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    font-family: sans-serif;
}


.content {
  width: 840px;
  margin: 20px 30px 20px 30px;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;

}


.content .content-top {
              height: 12px;
              background-image: url(img/content-bg.png);
              background-position: 0  0 0 0;
}


.content .content-bottom {
        height: 12px;
        background-image: url(img/content-bg.png) ;
        background-position-x: 840px;
        background-position-y: -840px; 

}
.content .content-middle {
  padding: 20px 30px 20px 30px ;
}

h1 {
           background-position: 26px 36px;
           font-weight:  normal;
           margin: 0px 0px 10px 0px;
           color: #2b8c57;
 }

  h2 {
      background-position:18px 28px;
      font-weight:  normal;
      color: #2b8c57;
      font-style: italic;
      margin: 30px 0px 15px 0px;
 }

div.block-1 {
           background-color: #2b8c57;
           font-style: italic;
           font-size: 12px;
           padding: 20px 30px 20px 30px;
          background-image: url(img/block-1-bg.png);
          color: #fff;
}

div.block-2 {
        color: #fff;
        font-style: italic;
        padding: 20px 30px 20px 30px;
        background-color: #356149;
        background-image: url(img/picture-1.png);
        background-repeat: no-repeat;
        background-position: right bottom;

}

a.button {
  display: block;
  width: 121px;
  height: 38px;
  text-decoration: none;
  background-image: url(img/button-1.png);
  margin: 20px 0px 20px 0px;
}

a.button:hover {
  margin: 20px 0px 20px 0px;
}
a.button:active {
  margin: 20px 0px 20px 0px;
}
